<div class="d-flex justify-content-center position-absolute bottom-0 w-100 mb-4">
  <%= link_to "Github", "https://github.com/serdg0", class: "me-3" %>
  <%= link_to "Linkedin", "https://www.linkedin.com/in/sergiodiaz-dev/" %>
</div>