<h5 class="mt-5">Most Visited Domains</h5>
<table class="overflow-auto h-25">
  <% @top_queries.each do |domain| %>
    <tr>
      <td class="w-25"><%= domain[0] %></td>
      <td class="w-25"><%= domain[1] %> visits</td>
    </tr>
  <% end %>
</table>