/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
  font-family: 'Matrix';
  src: url('Rastamanoblique-xner.ttf');
  font-style: normal;
 }

body {
  font-family: 'Matrix';
  background-color: #0D0208;
  color: #00FF41;
  position: relative;
}

.center-absolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.button-main {
  font-family: 'Matrix';
  background: transparent;
  border: 2px solid #00FF41;
  color: #00FF41;
  border-radius: 3px;
}

.red {
  color: red;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 100px;
}